PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/adsglobal
JWT_SECRET=super_secret_jwt_access_token_key_2026
JWT_REFRESH_SECRET=super_secret_jwt_refresh_token_key_2026
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000

# Mail Configuration
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=
EMAIL_PASSWORD=
ADMIN_EMAIL=admin@adsglobal.com

# Media Upload Configuration (Optional Cloudinary setup)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
